
/*
 * -----------------------------------
 *     html elements
 * -----------------------------------
 */
body {
    padding-top: 20px;
}

/*
 * -----------------------------------
 *      typeography
 * -----------------------------------
 */

/*
 * -----------------------------------
 *      sections
 * -----------------------------------
 */

#pageContent {
  min-height: calc(100vh - 350px);
}

#topHeader {
    background-color: #4b4b4b;
    color: #ffffff;
}

#topHeader .left_section {
    float: left;
}

#topHeader .right_section {
    float: right;
}

#topHeader .right_section .address {
    margin-right:5px;
}

#preferred_store_header a {
    color: #aaa;
}

/* -----  pageHeader ----- */

header {
    margin-left: -15px;
    margin-right: -15px;
}

#pageHeader {
    margin-left: 0;
    margin-right: 0;
}

#pageHeader .logo {
    /*width: 100%;
    height: auto;*/

    height: 155px;
    width: auto;
    max-width: 100%;

    padding-top: 20px;
    padding-bottom: 20px;
}

#pageHeader .page-header-right {
    min-height: 155px; /* Same as #pageHeader .logo */
}

@media (max-width: 991px) {
    #pageHeader .logo {
        height: 135px;
        padding-top: 10px;
        padding-bottom: 10px;
  }

    #pageHeader .page-header-right {
        min-height: 135px; /* Same as #pageHeader .logo */
    }
}

#pageHeader .page-header-right .row {
    margin-right: -30px;  /* make flush with slides */
}

#pageHeader .page-header-right .row:not(:first-child) {
    margin-top: 10px;
}

#headSearchBoxBlock .search-box-widget {
    width: 80%;
    float:right;
    padding-top: 10px;
    padding-bottom: 10px;
}

#pageContainerSpacer {
    height: 30px;
}

/* -----  signinBlock ----- */

#signinBlock{
    position: relative;
    margin-top: 10px;
}
#signinBlock .signin-block-top {
    font-size: 12px;
    position: absolute;
    top: 0px;
}

#signinBlock .signin-block-top.top-right {
    right: 0px;
}

#signinBlock .signin-block-top.top-left {
    left: 0px;
}

#signinBlock .signin-block-bottom {
    margin-top: 12px;
    font-size: 20px;
}

#signinBlock .signin-block-bottom .signin-left {
    padding-right: 10px;
    border-right: 1px solid gray;
}

#signinBlock .signin-block-bottom .signin-right {
    padding-left: 10px;
}

#signinBlock .signed-in .signin-right {
    font-size: 14px;
}

/* -----  translation button ----- */
#translation-button-container {
    padding-top: 10px;
    padding-left: 15px;
}
#translation-button-container a {
    color: #fff;
}

/* -----  main_navigation ----- */

#mainNav {
  opacity: 1;
  z-index: 10;
  height: 40px;
  margin-left: 0;
  margin-right: 0;
}

.main_navigation {
    border: none;
}

.main_navigation ul.inline-nav {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.main_navigation ul.inline-nav li.nav_item {
  list-style-type: none;
  display: inline-block;
}

.main_navigation ul.inline-nav li.nav_item:not(:first-child):before {
  content: " | ";
  padding: 0 10px;
}

.main_navigation ul.dropdown-menu {
  text-align: center;
  margin-top: 0px;
  border: none;
  border-radius: 0;
}

/* -----  nav pills ----- */

@media only screen and (max-width : 480px) {

    nav .nav.nav-pills > li > a {
        padding: 3px 3px;
    }

    nav .nav.nav-pills > li {
        margin-right: 5px;
    }
}

/* -----  search box widget ----- */

.search-box-widget .input-group-btn > .btn {
    border-left-width:0;left:-2px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    background-color: #eee;
    color: #fff;
    border-color:#aaa;
}

.search-box-widget .form-control {
    border-color:#aaa;
}

/* stop the glowing blue shadow */
.search-box-widget .form-control:focus {
    box-shadow:none;
    -webkit-box-shadow:none;
    border-color:#aaa;
}

/* -----  footer ----- */

footer {
  background-color: #4b4b4b;
  color: #ffffff;
}

footer nav ul {
    list-style-type: none;
}

footer nav .footer_nav_item_link {
  color: #FFF;
}

footer .footer_nav_container a {
    font-size: 13px;
}

@media (max-width: 479px) {
    footer .social_icons_container {
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
    footer .store_app_container {
        margin-left: 16.67%;
    }

    footer .copyright_container {
        text-align: center;
    }
}

.footer-title {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-categorized-menu {
    margin-top: 10px;
}

.footer-categorized-menu .category-header {
    font-size: 1.1em;
    font-weight: bold;
    color: #ccc;
    /*text-decoration: underline;*/
}

.footer-categorized-menu ul.group-list {
    padding-left: 15px;
    margin-bottom: 10px;
}

/* ----- #socialMediaLinksList ----- */

#socialMediaLinksList {
    list-style:none;
    margin: 0;
    padding: 0;
}

#socialMediaLinksList li {
    display: inline-block;

    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#socialMediaLinks a {
    display: inline-block;
    height: 29px;
    width: 29px;

    background-size: 29px;
    background-repeat: no-repeat;
    background-position: center;

    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    white-space:nowrap;
}

#socialMediaLinks li.facebook-link a {
    background-image: url('../images/FB_white_29.png');
}
#socialMediaLinks li.twitter-link a {
    background-image: url('../images/Twitter_white_29.png');
}
#socialMediaLinks li.instagram-link a {
    background-image: url('../images/Instagram_white_29.png');
}

/* -----  #storeAppFooterNav ----- */

#storeAppFooterNav div, #storeAppFooterNav h2 {
    padding: 0;
    padding-right: 15px;
}

#storeAppFooterNav a { /* common styles for linked images*/
    display: inline-block;

    background-repeat: no-repeat;
    background-position: center;

    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    white-space:nowrap;
}

#storeAppFooterNav .app_store_badge {
    width: 100%;
    padding-bottom: 30%; /* to make background image 30% of width */

    background-size: 100% auto;
}

#storeAppFooterLogo {
    width: 100%;
    padding-bottom: 100%; /* to make background image 100% of width */
    border-radius: 5px;

    background-size: 100%;
}

#storeAppFooterAppleStoreLink {
    background-image: url("../images/app_store.png");
}

#storeAppFooterGooglePlayLink {
    background-image: url("../images/google_play.png");
}

/* -----  .content-main ----- */

.content-main {
    margin-top: 50px
}

@media (min-width: 766px) {
    .content-main h1 {
        margin-top: 0;
    }

    .content-main {
        font-size: 16px;
        margin-top: 50px
    }

    .content-main .fancy {
        font-family: 'Mr Dafoe', cursive;
        text-transform: none;
    }

    .content-main h1.fancy {
        font-size: 42px;
    }
}

@media only screen and (max-width : 992px) {
    .content-main.left-top {
        margin-top: 0;
    }
}

/* -----  .content-left ----- */
.content-left {
    margin-top: 50px;
}

.left-sidebar {
    margin-bottom: 30px;

    background-color: rgba(204,204,204,0.65);
    margin-left: 15px;
    padding: 20px;
    /*border-radius: 5px;*/
}

@media only screen and (max-width : 992px) {
    .content-left {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.left-sidebar h2, .left-sidebar h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
}

.left-sidebar ul.list {
    padding-left: 0;
}

.left-sidebar ul.list a {
    color: inherit;
}

.left-sidebar ul.list a.active {
    font-weight: bold;
}

.left-sidebar ul.list li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.left-sidebar .sidebar-photo-container {
    margin-left: 20px;
}

@media (max-width: 1200px) {
    .left-sidebar {
        margin-left: 0px;
    }
}

/* -----  .content-right ----- */
.content-right {
    margin-top: 50px;
}

/*
 * -----------------------------------
 *      bootstrap overrides
 * -----------------------------------
 */
.btn {
    border-radius: 0px;
}

.dropdown-toggle:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-width: 5px;
}

/*
 * -----------------------------------
 *      class components
 * -----------------------------------
 */

.image-shadow {
  background-image: url("../images/drop_shadow.png");
  background-size: 100% 100%;
}

.vert-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.title {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
}

.title-h1 {
    font-size: 36px;
}

.title-h2 {
    font-size: 30px;
}

.title-h3 {
    font-size: 24px;
}

/* -----  dotted header ----- */

.dotted-header {
    display: block;
    text-align: center;
    overflow: hidden;
    /*white-space: nowrap;*/
}

.dotted-header > .dotted-header-content {
    position: relative;
    display: inline-block;
}

.dotted-header > .dotted-header-content:before,
.dotted-header > .dotted-header-content:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 3px;
    background-image:url('../images/dotted-line.png');
    background-position: left center;
    background-repeat:repeat-x;
}

.dotted-header > .dotted-header-content:before {
    right: 100%;
    margin-right: 15px;
}

.dotted-header > .dotted-header-content:after {
    left: 100%;
    margin-left: 15px;
}

hr.dotted {
    display:block;
    border:0px;
    height:10px;
    background-image:url('../images/dotted-line.png');
    background-position: left center;
    background-repeat:repeat-x;
}

/* -----  fancycheckbox ----- */

.fancycheckbox {
    margin-top: 2px;
    margin-bottom: 2px;
}


.fancycheckbox label:after {
    content: '';
    display: table;
    clear: both;
}

.fancycheckbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.fancycheckbox .cr .cr-icon {
    position: absolute;
    font-size: 1.2em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.fancycheckbox label {
    padding: 0;
}

.fancycheckbox label input[type="checkbox"] {
    display: none;
}

.fancycheckbox label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.fancycheckbox label input[type="checkbox"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.fancycheckbox label input[type="checkbox"]:disabled + .cr {
    opacity: .5;
}

.fancycheckbox label input[type="checkbox"]:checked + .cr {
    border-color: green;
    color: green;
}

.fancycheckbox:hover .cr {
    border-color: green;
}

/* -----  recipe-list ----- */

.recipe-list {
    padding-left: 0;
}

.recipe-list li {
    margin-bottom: 10px;
}

.recipe-list a, .recipe-list a:link, .recipe-list a:active, .recipe-list a:visited, .recipe-list a:hover {
    color: inherit;
}

/* -----  mobile-address ----- */

@media (max-width: 480px) {
    .mobile-address {
        padding-left: 50px;
    }
    .mobile-address .address-section {
        width: 100%;
    }
    .mobile-address .address-section h3 {
        margin-top: 0;
    }
}

/*
 * -----------------------------------
 *      utilities
 * -----------------------------------
 */
/* ensures all col divs in row are the same height */
@media (min-width: 766px) {
  .equal-height-col-row {
    display: flex;
    flex-direction: row;
  }

  .equal-height-col-row > [class^="col-"],
  .equal-height-col-row > [class*=" col-"] {
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/ /* Optional, to align inner items
                                horizontally inside the column */
  }
}
