@media (min-width: 768px) {
  #signup-invitation .modal-dialog {
    width: 768px;
  }
}

#signup-invitation .help-block.error {
  color: red;
  font-weight: bold;
}

#signup-invitation .modal-header {
  padding-bottom: none;
  border-bottom: none;
  padding-left: 25px;
  padding-right: 20px;
}

#signup-invitation .modal-content {
  padding-left: 25px;
  padding-right: 20px;
}

#signup-invitation .modal-footer {
  border-top: none;
  padding-left: 25px;
  padding-right: 20px;
}

#signup-invitation .modal-header .title {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid #ccc;
}

#signup-invitation input {
  border-radius: 0px;
  background-color: #ccc;
}

#signup-invitation .btn {
  height: 46px;
}

#signup-invitation #storeAppFooterNav h2 {
  display:none;
}

.signup_section {
  margin-bottom: 15px;
}

.section-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .split-fields-left {
    padding-right: 5px;
  }

  .split-fields-right {
    padding-left: 5px;
  }
}

.loading-indicator {
  height: 80px;
  width: 80px;
  background: url( '../images/loading.gif' );
  background-repeat: no-repeat;
  background-position: center center;
}

.loading-indicator-overlay {
  background-color: #FFFFFF;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}
